---
import Layout from "@layouts/Layout.astro";

const title = "Contacto";
---

<Layout title={title}>
  <p class="text-6xl wrap-break-word text-center pt-16">
    Pagina en construccion...
  </p>
</Layout>
