---
const currentYear = new Date().getFullYear();
---

<footer
  class="border-t py-16 mt-12 border-slate-100 dark:border-slate-800 bg-white/95 dark:bg-background-dark/95"
>
  <div class="max-w-300 mx-auto px-6">
    <div class="flex flex-col items-center text-center">
      <div class="flex flex-col items-center gap-4 mb-10">
        <div class="space-y-4"></div>
        <span
          class="text-2xl font-bold text-slate-800 dark:text-white tracking-tight block"
          >NA AC Área Norte CDMX</span
        >
        <p class="text-primary italic max-w-2xl">
          "Cada grupo tiene un solo objetivo primordial: llevar el mensaje al
          neurótico que aún sufre."
        </p>
      </div>

      <div
        class="w-full pt-4 border-t border-slate-100 flex flex-col md:flex-row justify-between items-center gap-6"
      >
        <p class="text-[11px] font-medium text-slate-400">
          © {currentYear} NA AC Área Norte CDMX.
        </p>
        <div class="flex gap-8">
          <a
            class="text-[11px] font-bold text-slate-400 hover:text-primary uppercase tracking-widest transition-colors"
            href="/aviso-privacidad/">Aviso de Privacidad</a
          >
          <a
            class="text-[11px] font-bold text-slate-400 hover:text-primary uppercase tracking-widest transition-colors"
            href="/terminos-de-uso/">Términos de Uso</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
